.picker-container {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
}

label {
    align-self: baseline;
    margin: 0 0 .5rem;
}

.input-row {
    display: flex;
    align-self: baseline;
}

input[type="color"] {
    border-radius: .2rem 0 0 .2rem;
    padding: 0;
    height: 2rem;
    width: 2rem;
}

input[type="text"] {
    border-radius: 0 .2rem .2rem 0;
    border: 1px solid black;
}

input[type="color"]:active, input[type="color"]:focus-within, input[type="color"]:focus, input[type="color"]:focus-visible {
    border: 2px solid rgb(0, 113, 184);
}

input:active, input:focus-within, input:focus, input:focus-visible {
    outline-color: rgb(0, 113, 184);
}